/* CSS Code */

body{
    width: 99%;
    margin: 0 auto;
}
header .title {
    background-color: antiquewhite;
    text-align: center;
    font-size: 25px;
    width: 100%;
}

main{
    width: 90%;
    margin: 0 auto;
    background-color: red;
}

main .box{
    border: 1px solid black;
    margin: 2%;
    width: 27%;
    height: 250px;
    display: inline-block;
    padding-left: 10px;
}